.navigation,.navigationr{
    width : 100%;
    height : auto;
    display: flex;
    justify-content: space-between;
}

.navigation a,.navigationr a{
    text-align: center;
    padding : 1rem;
    border : 0.8px solid rgb(39, 98, 138);
    box-sizing: border-box;
    text-decoration: none;
    background : white ;
    color : rgb(39, 98, 138);
    cursor : pointer;
    transition: 0.2s;
    flex-grow: 1;
    flex-shrink: 1;
}

.navigation a:hover{
    background: rgb(227, 236, 238);
}

.navigation .active,.navigationr .active{
    background : rgb(39, 98, 138);
    color : white;
    transition: 0.2s;
}
.navigation .active:hover{
    background : rgb(39, 98, 138);
}
@media (max-width : 500px){
    .navigation a,.navigationr a{
        font-size: 0.8rem;
    }
}

.navigationr a{
    border : 0.8px solid rgb(126, 188, 197);
    color :rgb(126, 188, 197);
}
.navigationr a:hover{
    background: rgb(235, 240, 241);
}
.navigationr .active{
    background: rgb(127, 175, 187);
}
.navigationr .active:hover{
    background: rgb(127, 175, 187);
}
