.navigation{
    width : 100%;
    height : auto;
    display: flex;
    justify-content: space-between;
}

.navigation a{
    text-align: center;
    padding : 1rem;
    border : 0.8px solid rgb(39, 98, 138);
    box-sizing: border-box;
    text-decoration: none;
    background : white ;
    color : rgb(39, 98, 138);
    cursor : pointer;
    transition: 0.2s;
    flex-grow: 1;
    flex-shrink: 1;
}

.navigation a:hover{
    background: rgb(227, 236, 238);
}

.navigation .active{
    background : rgb(39, 98, 138);
    color : white;
    transition: 0.2s;
}
.navigation .active:hover{
    background : rgb(39, 98, 138);
}
@media (max-width : 500px){
    .navigation a{
        font-size: 0.9rem;
    }
}
