.alert{
    width : 12rem;
    height : 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    padding : 0.2rem;
    border-radius : 20px;
    flex-shrink: 1;
}
.success{
    color : rgb(107, 207, 121);
    border : 0.2px solid rgb(135, 224, 135)
}
.error{
    color : rgb(224, 108, 108);
    border : 0.2px solid rgb(224, 108, 108)
}

.big{
    width : 23rem;
    font-size : 1.2rem;
    margin : 2rem 0;
}