.user{
    width : 90%;
    height : 3rem;
    padding: 0.8rem;
    box-shadow: 0px 0px 5px 1px rgb(228, 224, 224);
    margin : 2rem 0;
}
.user img{
    height: 2rem;
    width : 2rem;
    border-radius: 50%;
    border : 1px solid white;
    box-shadow: 0px 0px 5px 1px rgb(228, 224, 224);
    margin-right: 1rem;
}
.user .label{
    color : rgb(89, 130, 177);
    width : 15%;
    cursor: pointer;
}
.user,.user .info,.user .label{
    display : flex;
    justify-content: space-between;
    align-items: center;
}
.user .info{
    width : 50%;
}
.user .info span{
    color : grey;
    font-size : 0.8rem;
}
@media( max-width : 500px ){
    .user .info{
        display: none;
    }
}
.user .label:hover{
    text-decoration: underline;
}
.user button{
    font-size: 0.8rem;
}
.user a{
    text-decoration: none;
}