.header{
    width : 100%;
    position: fixed;
    height : 3rem;
    background: white;
    box-shadow: 0px 0px 10px 2px grey;
    top : 0;
    left : 0;
    z-index:90;
    padding : 0.5rem;
    display: flex;
    align-items: center;
}
.hamburger{
    display : none;
    padding : 0 0.5rem;
}
.logo{
    height : 2rem;
    width : 10rem;
}
@media (max-width:960px){
    .logo{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .nav{
        display: none;
    }
}
.nav{
    margin-left:2rem;
}
.nav ul{
    list-style-type: none;
    padding : 0 ;
    margin : 0
}
.nav ul li{
    display: inline-block;
    margin : 0 1rem;
    padding:0;
    margin:0 0.5rem;
}
.nav a{
    color : black;
    text-decoration: none;
}
.link{
    display: flex;
    align-items: center;
    padding : 0.5rem 0.8rem;
    font-size: 0.8rem;
    border-radius: 20px;
    justify-content: space-around;
}

.link:hover{
    border : 0.5px solid rgb(46, 122, 141);
    color :rgb(53, 113, 141);
    transition: 0.2s;
}

.active .link{
    background :rgb(53, 113, 141);
    color : white;
    transition: 0.2s;
}

