.filter{
    height : auto;
    width : 100%;
    display: flex;
    flex-flow: column;
    padding : 2rem;
    background: white;
    align-items: center;
    box-sizing: border-box;
}

.label{
    width : 100%;
    /* border : 1px solid rgb(67, 136, 168); */
    margin : 1rem 0;
    font-size: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: sans-serif;
    overflow : hidden;
    border : 1px solid rgb(137, 179, 207); 
    padding: 0.5rem;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgb(230, 223, 223);
    background: rgb(205, 227, 245);
    color:  rgb(53, 101, 133);
    transition: 0.2s;
}

.label img{
    height: 2rem;
    width : 2rem;
    margin-right: 0.5rem;
}

.label span{
    width : 100%;
    text-align: center;
}

.filter .button{
    margin : 2rem 0;
}

.selected{
   box-shadow: 0px 0px 10px 2px rgb(28, 68, 94);
   background :  rgb(53, 101, 133);
   color : white;
   background: 0.2s;
}