.picture{
    display: flex;
    position: absolute;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width : 60%;
    top:0;
    height : 40rem;
    left : 0;
    margin-left : 20%;
    box-shadow: 0px 0px 10px 2px rgb(187, 184, 184);
}
.picture h2{
    text-align: center;
    font-family: sans-serif;
    color : white;
    margin-bottom: 2rem;
    background : rgb(55, 127, 139);
    width : 100%;
    padding : 1rem;
    box-sizing: border-box;
    margin-top: 0;
}

.picture img{
    height : 12rem;
    width : 12rem;
    border : 4px solid white;
    box-shadow: 0px 0px 5px 1px rgb(212, 208, 208);
    border-radius: 50%;
    margin-bottom: 6rem;
    margin-top: 1rem;
}

.input{
    display: none;
}
@media (max-width:1200px){
    .picture{
        width: 60%;
        margin-left:20%;
    }
}
@media (max-width:960px){
    .picture{
        width: 100%;
        margin : 0
    }
}
.button{
    margin: 1rem 0;
}
.label{
    margin-left : 1rem;
}


