.main{
    position: relative;
    margin-top: 5rem;
    display: flex;
    width : 100%;
    justify-content: center;
    height : auto;
}

.content{
    width : 55%;
    display : flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height : auto;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 2px rgb(180, 177, 177);
}

@media (max-width : 960px){
    .content{
        width : 100%;
    }
}
