.sidebar{
    position: fixed;
    height : 50rem;
    width : 20rem;
    background : white;
    left : 0;
    top : 0;
    z-index: 150;
    box-shadow: 0px 0px 10px 2px rgb(209, 208, 208);
    transition: 0.2s;
}

